@import './styles.scss';

.header {
  padding-top: 48px;
}

.logo {
  display: block;
  text-decoration: none;
  color: rgba(215, 224, 255, 1);
  height: 32px;
  font-family: $kumbhSansFont;
  font-size: 32px;
  line-height: 32.2px;
  text-align: center;
  margin-bottom: 55px;
  outline: none;
}

.menu {
  padding: 8px 6px 7px 6px;
  margin-bottom: 48px;
  width: 90.97%;
  height: 63px;
  background-color: $menuBackground;
  border: none;
  border-radius: 31.5px;
  display: flex;
  z-index: 1;

  &__link,
  &__link-active {
    display: block;
    outline: none;
    text-decoration: none;
    text-align: center;
    color: rgba(215, 224, 255, 0.5);
    font-size: 14px;
    line-height: 49px;
    width: 33.33%;
    border-radius: 26.5px;
    transition: 0.3s;

    &:hover {
      color: rgba(215, 224, 255, 1);
    }
  }

  &__link-active {
    color: rgba(30, 33, 63, 1);

    &:hover {
      color: rgba(30, 33, 63, 1);
    }
  }
}

@media (max-width: 760px) {
  .header {
    padding-top: 32px;
  }

  .logo {
    width: 117px;
    height: 24px;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 45px;
  }

  .menu {
    width: 100%;
  }

  .menu__link,
  .menu__link-active {
    font-size: 12px;
  }
}
